@import "reset";


@mixin slider-button {
  width: 81px;
  height: 64px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
  border-style: none;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  outline: none;
}

@mixin section-heading { 
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 2px;
  color: $main-color;
  text-transform: uppercase;
  margin: 0;
}

@mixin section-head-logo {
  width: 21px;
  height: 21px;
  padding-right: 16px;
}

@mixin point-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 256px;
  background: #fff;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  transition: transform 1s;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin point-number {
  font-size: 48px;
  font-weight: 900;
}

@mixin headline {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: $text-color;
  width: 362px;
}

@mixin testimonial-rectangle {
  width: 161px;
  height: 64px;
  border-radius: 500px;
  transform: rotate(-65deg);
  position: absolute;
  top: 95px;
  right: 40px;
}

@mixin testimonial-photo {
  position: absolute;
  background: url(../images/Rectangle.png) no-repeat;
  width: 123.67px;
  height: 120px;
  z-index: 1;
  top: 98px;
  right: 35px;
  bottom: 229px;
}

@mixin testimonials-line {
  border-radius: 500px;
  border: none;
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 64px;
  height: 2px;
  margin-bottom: 31px;
}

@mixin testimonials-job {
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 2px;
}


$main-color: #56CCF2;
$text-color: #253757;


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding-left: 227px;
  position: relative;
  z-index: 0;
  background: $main-color;
  height: 848px;

  &::after {
    content: "";
    position: absolute;
    width: 68%;
    height: 1215px;
    left: 86.2%;
    transform: rotate(-65.1deg);
    background-color: #fff;
    z-index: -1;
  }

  &__nav {
    display: flex
  }

  &__logo {
    width: 53px;
    height: 32px;
    padding-top: 48px;
  }
}

.menu {
  max-width: 50%;
  display: flex;
  padding: 51px 0 0 143px;

  &__link {
    padding-right: 63px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      color: #ebfaff;
    }
  }

  &__link_active {
    padding: 0 0 0 72px;
    position: relative;

    &::after {
      content: "";
      width: 66px;
      height: 4px;
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
      border-radius: 32px;
      left: 67px;
      top: 24px;
    }
  }
}

.greet {
  margin-top: 70px;
  margin-left: 100px;

  &__heading {
    font-size: 64px;
    font-weight: 900;
    line-height: 150%;
    color: #fff;
    margin-bottom: 10px;
  } 

  &__text {
    color: #fff;
    width: 755px;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
  }

  &__btn {
    background: #fff;
    border-radius: 64px;
    width: 226px;
    height: 56px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color:  #253757;
    margin-top: 22px;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
      color: $main-color;
    }
  }
}

.slider {
  margin: -320px 220px;
  display: flex;
  position: relative;

  &__photo {
    width: 1146px;
    height: 640px;
    position: relative;
  }

  &__intro {
    position: absolute;
    bottom: 85px;
    left: 98px;
  }

  &__intro-heading {
    display: block;
    color: $main-color;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  &__intro-text {
    display: block;
    font-size: 20px;
    font-weight: 900;
    line-height: 140%;
    color: #fff;
    width: 264px;
  }

  &__btn-1 {
    @include slider-button();
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 287px;
    left: -81px;
  }

  &__btn-2 {
    @include slider-button();
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 287px;
  }

  &__social-links {
    display: flex;
    justify-content: space-around;
    height: 64px;
    width: 492px;
    transform: rotate(90deg);
    position: absolute;
    right: -23%;
    top: 300px;
  }

  &__link {
    font-size: 13px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $main-color;
    }
  }
}

.welcome-section {
  background: #FCFCFD;
  margin-top: 370px;
}

.welcome {
  padding: 165px 435px 135px 423px;

  &__head {
    display: flex;
  }

  &__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: $text-color;
    max-width: 742px;
  }
}

.service-section {
  height: 705px;
  position: relative;
}

.section__head {
  margin: 0;
  font-size: 48px;
  line-height: 100%;
  font-weight: 900;
  color: $text-color;
  position: absolute;
  top: -24px;
  right: 40%;
  left: 40%;
  width: max-content;
}

.service {
  display: flex;
  justify-content: space-around;
  padding: 136px 200px 162px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px;
  }

  &__heading {
    display: block;
    width: 264px;
    font-weight: 900;
    line-height: 140%;
    font-size: 20px;
    color: $text-color;
    margin-bottom: 32px;
  }

  &__description {
    width: 264px;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: #334563;
    margin: 0;
  }

  &__item3 {
    display: flex;
    flex-direction: column;
  }
}

.process-section {
  width: 100%;
  background: #FCFCFD;
  margin: 0 auto; 
  position: relative;
}

.process {
  &__head {
    display: flex;
  }

  .process__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
  }

  &__caption {
    width: 365px;
    padding: 160px 187px 20px;
  }

  &__headline {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: $text-color;
    padding-bottom: 37px;
  }

  &__text {
    margin-top: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
    color: #334563;
  }

  &__point-items {
    display: grid; 
    grid-template-columns: repeat(2, 240px);
    grid-gap: 58px;
    justify-content: end;
    margin: 0 286px -50px 0;
  }

  &__point-item1 {
    @include point-item();
    position: relative;
    top: 60px;
  }

  &__point-number1 {
    @include point-number();
    color: $main-color;
    position: absolute;
    top: 64px;
  }

  &__point-item2 {
    @include point-item();
    position: relative;
    top: -50px;
  }

  &__point-number2 {
    @include point-number();
    color: #ffcb53;
    position: absolute;
    top: 64px;
  }

  &__point-item3 {
    @include point-item();
    position: relative;
    z-index: 1;
    top: 120px;
  }

  &__point-number3 {
    @include point-number();
    color: #00d662;
    position: absolute;
    top: 64px;
  }

  &__point-item4 {
    @include point-item();
    position: relative;
    z-index: 1;
  }

  &__point-number4 {
    @include point-number();
    color: #f86065;
    position: absolute;
    top: 64px;
  }

  &__point-eclipse {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 48px;
  }

  &__point-text {
    width: 176px;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $text-color;
    position: absolute;
    top: 128px;
  }
}

.features-section {
  background: $main-color;
  position: relative;
  overflow: hidden;
  height: 976px;
}

.features {
  padding: 199px 300px 160px 227px;
  position: relative;
  
  &__head {
    display: flex;
  }

  &__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
    color: #fff;
  }

  &__headline {
    @include headline();
  }

  &__main {
    display: flex;
    margin: 69px auto 64px;
    align-items: center;
  }

  &__section-logo {
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    margin-right: 32px;
  }

  &__main-logo1 {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__main-logo2 {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__main-logo3 {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
    color: #fff;
    width: 263px;
    margin: 0;
  }

  &__photo {
    width: 1048px;
    height: 976px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -40px;
    box-sizing: border-box;
  }
}

.testimonials-section {
  min-height: 848px;
}

.testimonials {
  padding: 166px 227px;

  &__head {
    display: flex;
  }

  &__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
  }

  &__headline {
    @include headline();
    margin-bottom: 86px;
  }

  &__cards {
    display: flex;
  }

  &__card {
    width: 314px;
    height: 464px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #FEFEFE;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    text-align: center;
    align-items: center;
    margin-right: 78px;
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__photo-container {
    position: relative;
    width: 230px;
    height: 20px;
  }

  &__rectangle-1 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
    @include testimonial-rectangle();
  }

  &__photo-1 {
    @include testimonial-photo();
    background: url(../images/Rectangle.png) no-repeat;
  }

  &__text {
    width: 250px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $text-color;
    font-style: italic;
    font-weight: 300;
    margin-top: 240px;
  }

  &__blue-line {
    @include testimonials-line();
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  }
  
  &__name {
    font-style: 13px;
    font-weight: bold;
    line-height: 150%;
    color: #152032;
  }

  &__job-1 {
    @include testimonials-job();
    color: $main-color;
  }

  &__rectangle-2 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
    @include testimonial-rectangle();
  }

  &__photo-2 {
    @include testimonial-photo();
    background: url(../images/Rectangle-2.png) no-repeat;
  }

  &__yellow-line {
    @include testimonials-line();
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  }

  &__job-2 {
    @include testimonials-job();
    color: #FCC304;
  }

  &__rectangle-3 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
    @include testimonial-rectangle();
  }

  &__photo-3 {
    @include testimonial-photo();
    background: url(../images/Rectangle-3.png) no-repeat;
  }

  &__red-line {
    @include testimonials-line();
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
  }

  &__job-3 {
    @include testimonials-job();
    color: #F25656;
  }
}

.info-section {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  padding: 0 auto;

  &__head {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: $text-color;
  }

  &__text {
    width: 755px;
    font-size: 24px;
    font-weight: 500;
    color: #334563;
    text-align: center;
  }

  &__btn {
    width: 226px;
    height: 56px;
    border-radius: 64px;
    border: none;
    background: #2F80ED;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
      border: 1px solid #2F80ED;
      background: #fff;
      color: #2F80ED;
    }
  }

  &__clip1 {
    position: absolute;
    height: 40px;
    left: 446px;
    top: -40px;
  }

  &__clip2 {
    position: absolute;
    height: 40px;
    left: 481px;
    bottom: 160px;
  }

  &__clip3 {
    position: absolute;
    left: 131.42px;
    bottom: 40px;
  }

  &__clip4 {
    position: absolute;
    height: 40px;
    left: 1012px;
    bottom: 120px;
  }

  &__clip5 {
    position: absolute;
    height: 44px;
    left: 1447.02px;
    top: -20px; 
  }

  &__clip6 {
    position: absolute;
    height: 50px;
    left: 82.16px;
    bottom: 240px;
  }

  &__clip7 {
    position: absolute;
    height: 120px;
    left: 1337px;
    bottom: 80px;
  }

  &__clip8 {
    position: absolute;
    left: 233px;
    top: -40px;
  }

  &__clip9 {
    position: absolute;
    left: 1218.98px;
    bottom: 160px;
  }

  &__clip10 {
    position: absolute;
    left: 269px;
    bottom: 200px;
  }

  &__clip11 {
    position: absolute;
    left: 1272.91px;
    top: 10px;
  }

  &__clip12 {
    position: absolute;
    left: 1465.59px;
    top: 160px;
  }
}

.message-section {
  margin-top: 100px;
  padding: 0 227px;
}

.message-container {
  display: flex;
  justify-content: space-between;
}

.message {
  display: flex;
  flex-direction: column;
  margin-right: 128px;

  &__head {
    display: flex;
    margin-bottom: 105px;
  }

  &__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__inputs {
    height: 40px;
    width: 656px;
    border: none;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 48px;
    color: #152032;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    outline: none;
  }

  &__btn {
    margin-top: 57px;
    width: 226px;
    height: 56px;
    background: #2F80ED;
    border-radius: 64px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;

    &:hover {
      border: 1px solid #2F80ED;
      background: #fff;
      color: #2F80ED;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
  }

  &__logo {
    @include section-head-logo();
  }

  &__heading {
    @include section-heading();
  }

  &__text {
    @include headline();
  }

  &__small-head {
    font-size: 13px;
    line-height: 150%;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
  }

  &__items {
    font-size: 24px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 41px;
  }

  &__social-links {
    display: flex;
    margin-top: 12px;
  }

  &__link {
    padding-right: 48px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer {
  margin-top: 136px; 
  display: flex;

  &__item {
    font-size: 16px;
    line-height: 150%;
    color: $text-color;
    font-weight: 600;
    padding-left: 227px;
    padding-bottom: 83px; 
    width: 460px;
    white-space: nowrap;
  }

  &__nav {
    display: flex;
    padding-left: 127px; 
  }

  &__link {
    padding-right: 63px;
    text-decoration: none;
    font-size: 16px;
    color: $text-color;
    font-weight: 600;
    white-space: nowrap;

    &:hover {
      color: $main-color;
    }
  }
}

@import "media";